Source: @PACKAGE_NAME@
Section: interpreters
Priority: optional
Maintainer: Centreon <contact@centreon.com>
Build-Depends:
  debhelper-compat (=12)
Standards-Version: 4.5.0
Homepage: https://wwww.centreon.com

Package: @PACKAGE_NAME@
Architecture: all
Depends:
  centreon-stream-connectors-lib (>=@MIN_LIB_VERSION@)
Description: Centreon stream connectors lua modules
