Source: lua-cffi
Section: interpreters
Priority: optional
Maintainer: Centreon <contact@centreon.com>
Build-Depends:
  debhelper-compat (=12),
  dh-lua (>= 21)
Standards-Version: 4.5.0
Homepage: https://wwww.centreon.com

Package: lua-cffi
Architecture: all
Depends:
  libffi7,
  libffi-dev,
  lua5.3
Description: lua cffi library
